<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>shipping_calculator</name>
	<displayName><![CDATA[Shipping Calculator]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Integra y automatiza el cálculo de costos de envío de forma precisa, transparente y optimizada]]></description>
	<author><![CDATA[Sara Lucia]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
